<div class="grid-container">
  <div class="grid-column small">
    <div class="grid-row">
      <label>Deck Id</label>
      <div>{{ deck.deckId }}</div>
    </div>
  </div>

  <div class="grid-column medium">
    <div class="grid-row">
      <label>Deck Name: </label>
      <input #deckName
             autocomplete="off"
             type="text"
             [value]="deck.name"
             [placeholder]="DeckName"
             (blur)="nameChanged($event);" />
    </div>
    <div class="grid-row">
      <label>Deck Description: </label>
      <input #deckDescription
             autocomplete="off"
             type="text"
             [value]="deck.description"
             [placeholder]="DeckDescription"
             (blur)="descriptionChanged($event);" />
    </div>
    <div class="grid-row">
      <label></label>
      <div></div>
    </div>
  </div>


  <div class="grid-column buttons">
    <button mat-raised-button (click)="addCards()">Add Cards</button>
    <button mat-raised-button (click)="saveDeck()">Save Deck</button>
  </div>
</div>

<cardTable #cardTable
           [dataSource]="dataSource"
           [tableColumns]="tableColumns"
           (columnChange)="updateColumn($event)"></cardTable>
           