label, mat-checkbox {
  display: block;
}



.form {
  display: inline-flex;

  img {
    width: 24px;
    height: 24px;
  }
}

.textInputs {
  display: inline-grid;

  .mat-form-field-wrapper {
    //padding-bottom: 0.5em;
  }

  .mat-form-field-underline {
    //background-color: white;
  }

  .mat-form-field-infix {
    padding: 0;
  }

  input {
    border: solid;
  }
}
