<mat-toolbar>
  <button mat-icon-button [matMenuTriggerFor]="mainSideMenu"> <mat-icon>menu</mat-icon></button>
  <mat-menu #mainSideMenu="matMenu">
    <button mat-menu-item routerLink="/list">Full Card List</button>
    <!-- <button mat-menu-item (click)="setActivePage('search')">Search Cards</button> -->
    <button mat-menu-item routerLink="/newDeck">Build Deck</button>
    <button mat-menu-item routerLink="/constructedDecks">Constructed Decks</button>
  </mat-menu>
  
  <h1>Card Vault</h1>
</mat-toolbar>

<div>
   <router-outlet></router-outlet>
</div>