<div>
  <mat-table #table [dataSource]="dataSource" matSort>
    <ng-container  matColumnDef="CardImage">
      <mat-header-cell *matHeaderCellDef mat-sort-header> </mat-header-cell>
      <mat-cell *matCellDef="let element"> <img [src] = element.imageUris.small /> </mat-cell>
    </ng-container>
        
    <ng-container matColumnDef="Select">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selectedCards.toggle(row) : null"
                      [checked]="selectedCards.isSelected(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container *ngFor= "let column of tableDisplayedColumns" matColumnDef= {{column}}>
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{column}}  </mat-header-cell>
      <mat-cell *matCellDef="let element"> 
        <input #input *ngIf="isEditable(column)" [value]= "element[column]" (blur)="columnEdited(column, input.value,element)"/>
        <label *ngIf="!isEditable(column)"> {{ element[column] }} </label> 
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator [length]="dataSource.length"  
                 [pageSize]="10" 
                 [pageSizeOptions]="[10, 20, 50]" 
                 showFirstLastButtons></mat-paginator>
</div>